<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="0"><f:debug title="data">{data}</f:debug></f:if>
    <f:if condition="0"><f:debug title="settings">{settings}</f:debug></f:if>
    <f:if condition="0"><f:debug title="liveblog">{liveblog}</f:debug></f:if>
    <f:if condition="0"><f:debug title="entries">{entries}</f:debug></f:if>

    <f:if condition="{liveblog}">

        <h1>{liveblog.title}</h1>

        <f:if condition="{liveblog.description}">
            <p><i>{liveblog.description}</i></p>
        </f:if>

        <p><strong>Typ:</strong> {liveblog.type} - <strong>Standort:</strong> {liveblog.location} - <strong>Beginn:</strong> {liveblog.startDate}</p>

        <hr>

        <f:if condition="{settings.hidePagination}">
            <f:then>
                <f:render section="entries" arguments="{liveblog:liveblog, entries:entries}" />
            </f:then>
            <f:else>
                <f:render section="entries" arguments="{liveblog:liveblog, entries:paginator.paginatedItems}" />
                <f:render section="paginator" arguments="{pagination:pagination, gameExtId:liveblog.sportradarId}" />
            </f:else>
        </f:if>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function append_new_box() {
                $.ajax({
                    url: '/?type=1632820017',
                    success: function(result) {
                        console.log(result);
                        $('#liveblog').append(result);
                    },
                });
            }
        </script>

    </f:if>
</f:section>

<f:section name="entries">
    <f:for each="{entries}" as="entry" iteration="iterator">
        <div style="width:100%;">
            <div style="display:inline-block;width:10%;">
                <f:if condition="{entry.timeMinute}">
                    <f:then>
                        <strong>{entry.timeMinute}'</strong><br />
                        <small>
                            <f:switch expression="{entry.period}">
                                <f:case value="FIRST">1. Drittel</f:case>
                                <f:case value="SECOND">2. Drittel</f:case>
                                <f:case value="THIRD">3. Drittel</f:case>
                            </f:switch>
                        </small>
                    </f:then>
                    <f:else>
                        <small>{entry.createdate -> f:format.date(format:'H:i d/m/Y')}</small>
                    </f:else>
                </f:if>
            </div>
            <div id="liveblog" style="display:inline-block;width:90%;">
                <h3>{entry.title}</h3>
                <f:if condition="{entry.type} == 'SCORE_CHANGE'">
                    <div>
                        <strong>{liveblog.homeCompetitor}</strong>
                        <span class="badge badge-primary">{entry.homeScore}</span> : <span class="badge badge-primary">{entry.awayScore}</span>
                        <strong>{liveblog.awayCompetitor}</strong>
                    </div>
                    <hr>
                </f:if>
                <f:if condition="{entry.playersArray}">
                    <ul>
                        <f:for each="{entry.playersArray}" as="players">
                            <f:if condition="{players.name} != 'null null'">
                                <f:if condition="{entry.type} == 'SCORE_CHANGE'">
                                    <f:then>
                                        <li>
                                            {players.name}
                                            <f:switch expression="{players.type}">
                                                <f:case value="SCORER"><span style="border:1px solid #f00;">{players.type}</span></f:case>
                                                <f:case value="ASSIST"><span style="border:1px solid #0f0;">{players.type}</span></f:case>
                                            </f:switch>
                                        </li>
                                    </f:then>
                                    <f:else>
                                        <li>{players.name}</li>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </f:for>
                    </ul>
                </f:if>
                <f:if condition="{entry.publication}">
                    <f:link.action absolute="1" pageUid="{settings.detailPid}" arguments="{publication:entry.publication.0}" extensionName="YawavePublications" pluginName="PublicationDetail" controller="Publication" action="detail">
                        Link zu Publikation
                    </f:link.action>
                </f:if>
                <f:if condition="{entry.postContent}">
                    <f:format.html>{entry.postContent}</f:format.html>
                </f:if>
            </div>
            <hr>
        </div>
    </f:for>
</f:section>

<f:section name="paginator">
    <ul>
        <f:if condition="{pagination.previousPageNumber}">
            <li>
                <f:link.action extensionName="YawavePublications" pluginName="LiveblogDetail" controller="Liveblog" action="detail" arguments="{currentPage:pagination.previousPageNumber, gameExtId:gameExtId}">
                    « previous
                </f:link.action>
            </li>
        </f:if>
        <f:for each="{pagination.pages}" as="page">
            <li>
                <f:if condition="{pagination.currentPageNumber} == {page}">
                    <f:then>
                        <f:link.action class="active" extensionName="YawavePublications" pluginName="LiveblogDetail" controller="Liveblog" action="detail" arguments="{currentPage:page, gameExtId:gameExtId}">
                            {page} (active page)
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action extensionName="YawavePublications" pluginName="LiveblogDetail" controller="Liveblog" action="detail" arguments="{currentPage:page, gameExtId:gameExtId}">
                            {page}
                        </f:link.action>
                    </f:else>
                </f:if>
            </li>
        </f:for>
        <f:if condition="{pagination.nextPageNumber}">
            <li>
                <f:link.action extensionName="YawavePublications" pluginName="LiveblogDetail" controller="Liveblog" action="detail" arguments="{currentPage:pagination.nextPageNumber, gameExtId:gameExtId}">
                    next »
                </f:link.action>
            </li>
        </f:if>
    </ul>
</f:section>

</html>