<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:be.container>

<div style="padding: 20px;">

<div style="margin-bottom: 15px;"><img src="{f:uri.image(src: 'EXT:yawave_publications/Resources/Public/Img/yawave_logo.png', minWidth: 30, maxWidth: 100)}" /></div>
    
  <div class="d-inline">
		<f:flashMessages />
	</div>
  
  <f:form action="saveSettings" enctype="multipart/form-data" name="settings" object="{settings}">
  
  <div class="card">
	<div class="card-body" style="padding: 20px;">
	  <h5 class="card-title">API-Zugangsdaten</h5>
	  
	  <div class="form-group">
			  <label>Api URL</label>
			  <f:form.select name="apiUrl" property="apiUrl" class="form-control" options="{prod: 'Yawave Prod', dev: 'Yawave Dev/Test'}" />
		  </div>
		
		<div class="form-group">
			<label>Client-ID</label>
			<f:form.textfield class="form-control" name="apiKey" property="apiKey" placeholder="Client-ID" />
		</div>
		<div class="form-group">
			<label>Client-Secret</label>
			<f:form.textfield class="form-control" name="apiSecret" property="apiSecret" placeholder="Client-Secret" />
		</div>
	  
		<div class="form-group">
			<label>Webhook Key</label>
			<f:form.textfield class="form-control" name="refId" property="refId" placeholder="Webhook Key" />
		</div>
		<div class="form-group">
			<label>Application ID</label>
			<f:form.textfield class="form-control" name="applicationId" property="applicationId" placeholder="Application ID" />
		</div>
		  
	  <div class="form-group">
		  <label>Publication Details Page ID</label>
		  <f:form.textfield class="form-control" name="publicationDetailsPageUid" property="publicationDetailsPageUid" placeholder="Publication Details Page ID" />
	  </div>
			
	  <div class="form-group">
		  <label>Storage PID</label>
		  <f:form.textfield class="form-control" name="yawaveStoragePid" property="yawaveStoragePid" placeholder="Storgae PID" />
	  </div>
			
	  <div class="form-group">
		  <label>Realm Name</label>
		  <f:form.textfield class="form-control" name="apiSsoKey" property="apiSsoKey" placeholder="API Realm Name" />
	  </div>
	  
	  <div class="form-group">
			  <label>Webhook mit Queue</label>
			  <f:form.textfield class="form-control" name="mutexcue" property="mutexcue" />
		  </div>
	  
	</div>
  </div>
  
  <div class="card">
  <div class="card-body" style="padding: 20px;">
	<h5 class="card-title">Sprachen</h5>
	<p>Auswählen welche Sprachen synchronisiert werden sollen</p>
	
	<f:for each="{languages}" as="language" iteration="iterator">
		<div class="form-check">
			<f:form.checkbox class="form-input" property="languageIds" value="{language.languageId}" multiple="1"/>
			<label class="form-check-label">{language.title}</label>
		</div>
	</f:for>
	
  </div>
  </div>
	  
	  <f:form.submit id="btn" class="btn btn-success btn-lg mt-3" value="Speichern" name="Save"/>
	  
  </f:form>

  </div>
</f:be.container>
</html>