<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="0"><f:debug title="data">{data}</f:debug></f:if>
    <f:if condition="0"><f:debug title="settings">{settings}</f:debug></f:if>
    <f:if condition="0"><f:debug title="categories">{categories}</f:debug></f:if>
    <f:if condition="0"><f:debug title="portals">{portals}</f:debug></f:if>
    <f:if condition="0"><f:debug title="tags">{tags}</f:debug></f:if>
    <f:if condition="0"><f:debug title="overwriteDemand">{overwriteDemand}</f:debug></f:if>

    <f:form action="filter" name="yawavepublications_filter" method="post">
        <f:if condition="{categories}">
            <h3>Categories</h3>
            <f:render section="categoryTree" arguments="{categories: categories, overwriteDemand: overwriteDemand}" />
        </f:if>
        <f:if condition="{portals}">
            <h3>Portals</h3>
            <f:render section="portalTree" arguments="{portals: portals, overwriteDemand: overwriteDemand}" />
        </f:if>
        <f:if condition="{tags}">
            <h3>Tags</h3>
            <f:render section="tagTree" arguments="{tags: tags, overwriteDemand: overwriteDemand}" />
        </f:if>
        <f:form.submit value="Go!" />
    </f:form>
</f:section>

<f:section name="categoryTree">
    <ul>
        <f:for each="{categories}" as="category">
            <f:for each="{overwriteDemand.categories}" as="overwriteCategory">
                <f:if condition="{category.item.uid} == {overwriteCategory}">
                    <f:variable name="selectedCategory" value="{overwriteCategory}" />
                </f:if>
            </f:for>
            <li>
                <f:if condition="{category.item.uid} == {selectedCategory}">
                    <f:then>
                        <input id="category-{category.item.uid}" type="checkbox" name="tx_yawavepublications_publicationlist[overwriteDemand][categories][]" value="{category.item.uid}" checked="checked" />
                        <label for="category-{category.item.uid}">
                            <f:link.action class="active" pageUid="{settings.listPid}" action="list" extensionName="YawavePublications" pluginName="PublicationList" arguments="{'overwriteDemand':{'categories':{0:category.item.uid}}}">
                                <span>{category.item.name}</span>
                            </f:link.action>
                        </label>
                    </f:then>
                    <f:else>
                        <input id="category-{category.item.uid}" type="checkbox" name="tx_yawavepublications_publicationlist[overwriteDemand][categories][]" value="{category.item.uid}" />
                        <label for="category-{category.item.uid}">
                            <f:link.action pageUid="{settings.listPid}" action="list" extensionName="YawavePublications" pluginName="PublicationList" arguments="{'overwriteDemand':{'categories':{0:category.item.uid}}}">
                                <span>{category.item.name}</span>
                            </f:link.action>
                        </label>
                    </f:else>
                </f:if>
                <f:if condition="{category.children}">
                    <f:render section="categoryTree" arguments="{categories: category.children, overwriteDemand: overwriteDemand}" />
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="portalTree">
    <ul>
        <f:for each="{portals}" as="portal">
            <f:for each="{overwriteDemand.portals}" as="overwritePortal">
                <f:if condition="{portal.uid} == {overwritePortal}">
                    <f:variable name="selectedPortal" value="{overwritePortal}" />
                </f:if>
            </f:for>
            <li>
                <f:if condition="{portal.uid} == {selectedPortal}">
                    <f:then>
                        <input id="portal-{portal.uid}" type="checkbox" name="tx_yawavepublications_publicationlist[overwriteDemand][portals][]" value="{portal.uid}" checked="checked" />
                        <label for="portal-{portal.uid}">
                            <f:link.action class="active" pageUid="{settings.listPid}" action="list" extensionName="YawavePublications" pluginName="PublicationList" arguments="{'overwriteDemand':{'portals':{0:portal.uid}}}">
                                <span>{portal.title}</span>
                            </f:link.action>
                        </label>
                    </f:then>
                    <f:else>
                        <input id="portal-{portal.uid}" type="checkbox" name="tx_yawavepublications_publicationlist[overwriteDemand][portals][]" value="{portal.uid}" />
                        <label for="portal-{portal.uid}">
                            <f:link.action pageUid="{settings.listPid}" action="list" extensionName="YawavePublications" pluginName="PublicationList" arguments="{'overwriteDemand':{'portals':{0:portal.uid}}}">
                                <span>{portal.title}</span>
                            </f:link.action>
                        </label>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="tagTree">
    <ul>
        <f:for each="{tags}" as="tag">
            <f:for each="{overwriteDemand.tags}" as="overwriteTag">
                <f:if condition="{tag.uid} == {overwriteTag}">
                    <f:variable name="selectedTag" value="{overwriteTag}" />
                </f:if>
            </f:for>
            <li>
                <f:if condition="{tag.uid} == {selectedTag}">
                    <f:then>
                        <input id="tag-{tag.uid}" type="checkbox" name="tx_yawavepublications_publicationlist[overwriteDemand][tags][]" value="{tag.uid}" checked="checked" />
                        <label for="tag-{tag.uid}">
                            <f:link.action class="active" pageUid="{settings.listPid}" action="list" extensionName="YawavePublications" pluginName="PublicationList" arguments="{'overwriteDemand':{'tags':{0:tag.uid}}}">
                                <span>{tag.name}</span>
                            </f:link.action>
                        </label>
                    </f:then>
                    <f:else>
                        <input id="tag-{tag.uid}" type="checkbox" name="tx_yawavepublications_publicationlist[overwriteDemand][tags][]" value="{tag.uid}" />
                        <label for="tag-{tag.uid}">
                            <f:link.action pageUid="{settings.listPid}" action="list" extensionName="YawavePublications" pluginName="PublicationList" arguments="{'overwriteDemand':{'tags':{0:tag.uid}}}">
                                <span>{tag.name}</span>
                            </f:link.action>
                        </label>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

</html>