<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="0"><f:debug title="data">{data}</f:debug></f:if>
    <f:if condition="0"><f:debug title="settings">{settings}</f:debug></f:if>
    <f:if condition="0"><f:debug title="publications">{publications}</f:debug></f:if>
    <f:if condition="0"><f:debug title="overwriteDemand">{overwriteDemand}</f:debug></f:if>
    <f:if condition="0"><f:debug title="paginator">{paginator}</f:debug></f:if>
    <f:if condition="0"><f:debug title="pagination">{pagination}</f:debug></f:if>

    <f:if condition="{publications}">
        <f:then>
            <div style="width:100%;">
                <div style="width:100%">
                    {publications -> f:count()} Publikationen gefunden.
                    <hr>
                    <f:if condition="{settings.hidePagination}">
                        <f:then>
                            <f:render section="publicationList" arguments="{publications:publications}" />
                        </f:then>
                        <f:else>
                            <f:render section="publicationList" arguments="{publications:paginator.paginatedItems}" />
                            <f:render section="paginator" arguments="{pagination:pagination, overwriteDemand:overwriteDemand}" />
                        </f:else>
                    </f:if>

                </div>
            </div>
        </f:then>
        <f:else>
            <div class="col-md-12">Keine Publikationen gefunden.</div>
        </f:else>
    </f:if>

</f:section>

<f:section name="publicationList">
    <f:for each="{publications}" as="publication" iteration="iterator">
        <div style="display:inline-block;width:46%;margin:20px 2%">
            <div style="width:100%;">
                <f:if condition="{publication.cover.image}">
                    <f:link.action pageUid="{settings.detailPid}" extensionName="YawavePublications" pluginName="PublicationDetail" controller="Publication" action="detail" arguments="{publication:publication}">
                        <f:image image="{publication.cover.image}" height="{settings.media.maxHeight}c" width="{settings.media.maxWidth}c" class="img-fluid"/>
                        <f:comment><!-- image height/width: use "m" for max and "c" for cropping --></f:comment>
                    </f:link.action>
                </f:if>
                <div>
                    <f:link.action pageUid="{settings.detailPid}" extensionName="YawavePublications" pluginName="PublicationDetail" controller="Publication" action="detail" arguments="{publication:publication}">
                        <h3>{publication.cover.title}</h3>
                    </f:link.action>
                    <f:if condition="{settings.cropMaxCharacters}">
                        <f:then>
                            <p>{publication.cover.description -> f:format.stripTags() -> f:format.crop(maxCharacters:settings.cropMaxCharacters)}</p>
                        </f:then>
                        <f:else>
                            <p>{publication.cover.description}</p>
                        </f:else>
                    </f:if>
                    <p><small>{publication.beginDate}</small></p>
                </div>
            </div>
        </div>
    </f:for>
</f:section>

<f:section name="paginator">
    <ul>
        <f:if condition="{pagination.previousPageNumber}">
            <li>
                <f:link.action extensionName="YawavePublications" pluginName="PublicationList" controller="Publication" action="list" arguments="{currentPage:pagination.previousPageNumber, overwriteDemand:overwriteDemand}">
                    « previous
                </f:link.action>
            </li>
        </f:if>
        <f:for each="{pagination.pages}" as="page">
            <li>
                <f:if condition="{pagination.currentPageNumber} == {page}">
                    <f:then>
                        <f:link.action class="active" extensionName="YawavePublications" pluginName="PublicationList" controller="Publication" action="list" arguments="{currentPage:page, overwriteDemand:overwriteDemand}">
                            {page} (active page)
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action extensionName="YawavePublications" pluginName="PublicationList" controller="Publication" action="list" arguments="{currentPage:page, overwriteDemand:overwriteDemand}">
                            {page}
                        </f:link.action>
                    </f:else>
                </f:if>
            </li>
        </f:for>
        <f:if condition="{pagination.nextPageNumber}">
            <li>
                <f:link.action extensionName="YawavePublications" pluginName="PublicationList" controller="Publication" action="list" arguments="{currentPage:pagination.nextPageNumber, overwriteDemand:overwriteDemand}">
                    next »
                </f:link.action>
            </li>
        </f:if>
    </ul>
</f:section>

</html>