<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="0"><f:debug title="data">{data}</f:debug></f:if>
    <f:if condition="1"><f:debug title="settings">{settings}</f:debug></f:if>
    <f:if condition="1"><f:debug title="events">{events}</f:debug></f:if>
</f:section>

</html>